<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
</head>
<body>
<h2>Change your information</h2>
<form action="#" th:action="@{/manageaccount}" th:object="${user}"  method="post">
    <label for="username">New username</label>
    <input th:text="${user.username}" type="text" th:field="*{username}" id="username"  name="username"/>
    <label for="password">New password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password" required/>
    <label for="email">New email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email" required/>
    <input type="submit" value="Submit">
</form>
<p><a href="/home">Back to home</a></p>
</body>
</html>