<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>

<div th:switch="${tasks}">
    <h2 th:case="null">No tasks yet!</h2>
    <div th:case="*">
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Task name</th>
                <th>Priority</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.priority}"></td>
                <td><a th:href="@{/delete/{id}(id=${task.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addtask">Add a new task</a></p>
    <p><a href="/pomodoro">Pomodoro timer</a></p>
    <p><a href="/accountManagement">Manage my account</a></p>
    <p><a href="/">Log off</a></p>
</div>

</body>
</html>>