<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h2>Forgot your password?</h2>
<p>Enter your username, if it exists your password will be sent to the email you registered with.
    You will be redirected to the login page  after submitting.</p>
<form action="#" th:action="@{/requestpassword}" th:object="${user}"  method="post">
  <input type="text" name="username" id="username" th:field="*{username}" placeholder="username" required/>
  <input type="submit" value="Request Password"/>
</form>
<p><a href="/">Login</a></p>
<p><a href="/signup">Sign up</a></p>
</body>
</html>